*{
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template: 1fr 7fr / 1fr 7fr;
}

.header{
  background-color: darkseagreen;
}

.sideboard{
  background-color: mistyrose;
  grid-row: 1/-1;

  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  place-items: start center;
  gap: 1rem;
}

.main {
  background-color: linen;
}